
body{
    font-family: 'Lato',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.landing-page{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(../assets/backgrounds/h_img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#mouse{
    animation:bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
}
#about{
    text-align: center;
}
.services{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/backgrounds/s_image.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.contacts{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(../assets/backgrounds/c_image.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#name,#email,#message,#submit{
    background-color: transparent;

}
#name,#email,#moreinfo{
    color: white;
}
::-webkit-input-placeholder{
    color: white;
}
.footer{
    text-align: center;
}
#development,#product,#design{
    display: none
    
}
.clickable,.management,.dev{
    cursor: pointer;
}

#portfolio,#port,#port2,#port3,#port4,#port5,#port6,#port7{
    position: relative;
    
}

.overlay,.p_name,.project3,.project4,.project5,.project6,.project7,.project8{
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 30px;
    right: 0;
    width: 80%;
    height: 80%;
    box-sizing:border-box;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background-color: rgba(0,0,0,0.7);
    transition: .5s ease;
    opacity: 0;
    /* background-color: rgba(0,0,0,0.8); */
    color: white;
}
#portfolio:hover .overlay{
    opacity: 1;
 } 
 #port:hover .p_name{
    opacity: 1;
 }

 #port2:hover .project3{
    opacity: 1;
 } 
 #port3:hover .project4{
     opacity: 1;
 }
 #port4:hover .project5{
     opacity: 1;
 }
 #port5:hover .project6{
     opacity: 1;
 }
 #port6:hover .project7{
     opacity: 1;
 }
 #port7:hover .project8{
     opacity: 1;
 }

